# mod_rewrite starts here

RewriteEngine On

#NOT FOLDER

    RewriteCond %{REQUEST_FILENAME} !-d

#FILES

    RewriteCond %{REQUEST_FILENAME}\.html -f

# We show the file that has the html extension

    RewriteRule ^(.*)$ $1.html [NC,L]

                