/*colores inicio*/

.fp1 {
    color: #11002c;
}

.fp2 {
    color: #1b0045;
}

.fp3 {
    color: #25005f;
}

.fp4 {
    color: #3e0029;
}

.fp5 {
    color: #6b002b;
}

.bp1 {
    background-color: #11002c;
}

.bp2 {
    background-color: #1b0045;
}

.bp3 {
    background-color: #25005f;
}

.bp4 {
    background-color: #3e0029;
}

.bp5 {
    background-color: #6b002b;
}

/*colores fin*/


/*body inicio*/

body {
    font-family: 'Abril Fatface';
    background-color: #294941;
}


.backgroundimg {
    position: relative;
    z-index: 1;
}

.backgroundimg img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
}

/*body fin*/


/*header inicio*/

.navbar {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.navbar li {
    list-style: none;
    display: inline-block;
}

@media screen and (min-width: 0px) and (max-width: 733px) {
    .navbar li:not(.flags) {
        display: none;
    }
    
    .flags img {
        width: 7px;
    }

    .flags a {
        font-size: 0.6rem !important;
    }

    .logo{
        font-size: 0.7rem;
    }

    /* show it on small screens */
}

.navbar li a {
    text-decoration: none;
    margin-left: 1rem;
    padding-bottom: 3px;
    transition: border-bottom 0.6s;
    font-size: 0.9rem;
}

.navbar li a:hover {
    border-bottom: 4px solid #Fff;
    ;
    color: white;
}

.logo {
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
    border-radius: 100px;
}

.logo:hover {
    background-color: white;
    color: #1d2544;
    padding: 7px !important;
}

.menu {
    z-index: 9;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(38, 37, 49);
    background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 53%, #1d2544 100%);
    box-shadow: 0 8px 6px -6px #999;
}

.flags img {
    width: 15px;
}



/*Animaciones*/

i:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    /* 20% { transform: translate(-3px, 0px) rotate(1deg); } */
    /* 30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); } */
}