/*colores inicio*/

.fp1 {
    color: #11002c;
}

.fp2 {
    color: #1b0045;
}

.fp3 {
    color: #25005f;
}

.fp4 {
    color: #3e0029;
}

.fp5 {
    color: #6b002b;
}

.bp1 {
    background-color: #11002c;
}

.bp2 {
    background-color: #1b0045;
}

.bp3 {
    background-color: #25005f;
}

.bp4 {
    background-color: #3e0029;
}

.bp5 {
    background-color: #6b002b;
}

/*colores fin*/


/*body inicio*/

html {
    min-height: 100%;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: white;
    background-image: url(../imgs/background.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Scroll */
::-webkit-scrollbar {
    width: 4px;
    background: black;
}

/* Deslizador */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(161, 140, 140);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 10px;
}


.backgroundimg {
    position: relative;
    z-index: 1;
}

.backgroundimg img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
}

/*body fin*/


.height-pusher{
    margin-bottom: 400px;
}

/*header inicio*/


.navbar {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.navbar-bottom {
    padding: 0;
    position: absolute;
    bottom: 50%;
    right: 2%;
    transform: translateY(50%);
}

.navbar li,
.navbar-bottom li {
    list-style: none;
    display: inline-block;
}

.navbar li a,
.navbar-bottom li a {
    text-decoration: none;
    margin-left: 1rem;
    padding-bottom: 3px;
    font-size: 0.9rem;
    transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar-bottom li a:hover {
    border-bottom: 4px solid #Fff;
    ;
    color: white;
}

.logo a {
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
    border-radius: 100px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    padding: 5px !important;
}


.logo a:hover {
    background-color: white !important;
    color: black !important;
    text-decoration: none;
}


.carlogo {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 5.2%;
}

.rss {
    /* color: white; */
    position: absolute;
    top: 70%;
    left: 4.9%;
}

.rss a {
    font-size: 0.9rem;
    color: white;
    margin: 3px;
    transition: font-size 0.2s ease-in;
}

.rss a:hover {
    font-size: 1.3rem;
}



.menu-nav {
    z-index: 9;
    height: 108.35px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(38, 37, 49);
    background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 50%, rgba(38, 37, 49, 1) 100%);
    /* box-shadow: 0px 5px 3px -7px #Fff; */
    opacity: 1;
    /* animation: change 10s ease-in-out infinite; */
}

.flags img {
    width: 15px;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
}

.menu-footer {
    z-index: 1;
    height: 108.35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(38, 37, 49);
    background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 53%, rgba(38, 37, 49, 1) 100%);
    box-shadow: 0px 5px 5px -7px #Fff;
    opacity: 0.8;
}

/* Banner inicial */

.banner {
    transition: color .2s ease-in, background-color 0.5s ease-in;
    font-size: 1.2rem;
    padding: 2vh;
    margin: auto;
    display: flex;
    text-align: center;
}

.banner:hover {
    background-color: rgb(37, 37, 37) !important;
    color: white;
}

/* Formulario */

.descripcion {

    font-size: 1.1rem;
    line-height: 1.2rem;
    border-radius: 25px;
    padding: 15px;
    margin: 3px;
    transition: 0.4s ease-in;
    background-color: black !important;
    color: white !important;
}

.descripcion:hover {
}

.historias {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.4s ease-in;
}

.historias:hover {
    background-color: white !important;
    color: black !important;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
    padding: 3px;
}

/* CARTA */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;

}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

/* recpatcha */

.rc-anchor-normal {
    width: 87.5% !important;
}

/* Boton Cerrar formulario */

.close {
    position: absolute;
    color: white !important;
    margin: auto;
    right: 5%;
    top: 1%;
    cursor: pointer;
}

.row-form {
    margin-top: 8vh;
}


.formulario {
    margin: auto;
    /* display: none; */
    transition: visibility 0s, opacity 0.5s linear;
}

form {
    /* margin-top: 20%; */
}

form .card {
    border: none !important;
}

form .fa-comment,
form .fa-envelope,
form .fa-user {
    color: black !important;
}

.btn-info {
    background-color: rgb(32, 31, 31);
    transition: background-color 0.2s ease-in;
}

.btn-info:hover {
    background-color: rgba(63, 63, 63, 0.6);
    color: white;
}

.btn {
    border: none;
}


.desarrollado-wrap {
    position: relative;
    bottom: 10px;
}

.desarrollado {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.2;
    transition: opacity 0.6s ease;
}

.desarrollado p {
    font-size: 0.6rem;
    color: white !important;
}

.desarrollado:hover {
    opacity: 1;
}

/*Animaciones*/




i:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    /* 20% { transform: translate(-3px, 0px) rotate(1deg); } */
    /* 30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); } */
}

/*MEDIA SCREEN*/
@media screen and (min-width: 0px) and (max-width: 1051px) {

    .navbar li,
    .navbar-bottom li {
        display: none !important;
    }

    .footer {
        display: none;
    }

    .reloj {
        display: none;
    }

    .logo,
    .logo a {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
    }

    /* show it on small screens */
}



/* @keyframes change {

    0% {
        background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 50%, rgba(38, 37, 49, 1) 100%);
    }

    50% {
        background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 50%, rgba(38, 37, 49, 1) 100%);
    }

    100% {
        background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 50%, rgba(38, 37, 49, 1) 100%);
    }

} */