/*colores inicio*/

.fp1 {
    color: #11002c;
}

.fp2 {
    color: #1b0045;
}

.fp3 {
    color: #25005f;
}

.fp4 {
    color: #3e0029;
}

.fp5 {
    color: #6b002b;
}

.bp1 {
    background-color: #11002c;
}

.bp2 {
    background-color: #1b0045;
}

.bp3 {
    background-color: #25005f;
}

.bp4 {
    background-color: #3e0029;
}

.bp5 {
    background-color: #6b002b;
}

/*colores fin*/


/*body inicio*/

body {
    font-family: 'Questrial', sans-serif;
    background-color: white;
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.reloj {
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    z-index: 400;
    font-size: 1.1rem;
}

.backgroundimg {
    position: relative;
    z-index: 1;
}

.backgroundimg img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
}

/*body fin*/


/*header inicio*/

.navbar {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.navbar-bottom {
    padding: 0;
    position: absolute;
    bottom: 50%;
    right: 2%;
    transform: translateY(50%);
}

.navbar li,
.navbar-bottom li {
    list-style: none;
    display: inline-block;
}

.navbar li a,
.navbar-bottom li a {
    text-decoration: none;
    margin-left: 1rem;
    padding-bottom: 3px;
    font-size: 0.9rem;
    transition: border-bottom 0.1s;
}

.navbar li a:hover,
.navbar-bottom li a:hover {
    border-bottom: 4px solid #Fff;
    ;
    color: white;
}

.logo {
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
    border-radius: 100px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu';
}

.logo:hover {
    background-color: white;
    color: black !important;
    padding: 7px !important;
}

.menu-nav {
    z-index: 9;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(38, 37, 49);
    background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 53%, #1d2544 100%);
    box-shadow: 0px 5px 3px -7px #Fff;
    opacity: .8;
}

.flags img {
    width: 15px;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
}

.menu-footer {
    z-index: 1;
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(38, 37, 49);
    background: linear-gradient(90deg, rgba(38, 37, 49, 1) 0%, #2b3b38 53%, #1d2544 100%);
    box-shadow: 0px 5px 5px -7px #Fff;
    opacity: .8;
}

/* Banner inicial */

.banner {
    transition: color .2s ease-in, background-color 0.5s ease-in;
    font-size: 1rem;
}

.banner:hover {
    background-color: black !important;
    color: white;
}

/* Formulario */

.formulario {
    margin: auto;
}

form {
    margin-top: 20%;
}

form .card, form input {
    border: none !important;
}

form .fa-comment, form .fa-envelope, form .fa-user {
    color: black !important;
}

.btn-info {
    background-color: rgb(32, 31, 31);
    transition: background-color 0.2s ease-in;
}

.btn-info:hover {
    background-color: rgba(63, 63, 63,0.6);
    color: white;
}

.btn {
    border: none;
}




/*Animaciones*/

i:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    /* 20% { transform: translate(-3px, 0px) rotate(1deg); } */
    /* 30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); } */
}

/*MEDIA SCREEN*/
@media screen and (min-width: 0px) and (max-width: 1051px) {

    .navbar li,
    .navbar-bottom li {
        display: none !important;
    }

    .footer {
        display: none;
    }

    .reloj {
     display: none;
    }


    /* show it on small screens */
}

