.float {
	position: fixed;
	width: 70px;
	height: 70px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 35px;
	/* box-shadow: px 1px 1px #999; */
	z-index: 8;
}

.my-float {
	margin-top: 18px;
}